	body {
		background-image: url("hungary.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 0;
		font-family:"calibri";
		text-align: center;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	
	li {
		float: left;
	}
	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	

	li a:hover {
		background-color: #111;
	}
	header {
		background-image: linear-gradient(darkgrey, grey);
		border-radius: 2px;
		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
		background-color: rgba(4, 30, 15, 0.5);
	}

	article {
		border-radius: 6px;
		box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
		background-color: rgba(4, 30, 15, 0.6);
		padding-bottom: 8px;
	}

	table, th, td {
		border: 1px solid black;
		margin-left: auto;
		margin-right: auto;
	}

	#intro-section {
		color: white;
		text-shadow: 1px 1.5px black;
	}

	#past-section {
		color: white;
		text-shadow: 1px 1.5px black;
	}

	#future-section {
		color: white;
		text-shadow: 1px 1.5px black;
	}

	#schedule-section {
		color: white;
		text-shadow: 1px 1.5px black;
	}

	.section-header {
		color: black;
		text-decoration: underline;
		text-shadow: 0px 0px black;

	}

	.aside-header {
		color: black;
	}
	#profile_pic
	{
		float: left;
		border-radius:50%;
		align-items: left;
		height:300px;
		width:auto;
		position:relative;
	}
	#video
	{
		float:right;
		border-radius:50%;
		height:150px;
		width:auto;
	}
